<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/c9fd3db041.js" crossorigin="anonymous"></script>

    <title>Embraer App</title>
    <link rel="icon" href="https://companieslogo.com/img/orig/ERJ-dcd6dcae.png?t=1593008465">
  </head>

  <body>

  <div class="logo-container p-3 d-flex justify-content-between">
    <a href="index.html"><i class="fa-solid fa-house mt-2"></i></a>
    <img src="logo.embraer.png">
    <div>
      <i class="fa-solid fa-bell"></i>
      <i class="fa-solid fa-user mt-2"></i>
    </div>
  </div>

    <style>
       ::-webkit-scrollbar{
          width: 15px;
       }
       ::-webkit-scrollbar-track{
          background: Gainsboro;
          border-radius: 30px;
       }
       ::-webkit-scrollbar-thumb{
          background: rgb(11, 27, 91);
          border-radius: 30px;
       }
       .bg-primary2 {
          background-color: rgb(11, 27, 91);
       }
       .btn-primary {
          color: #fff;
          background-color: rgb(11, 27, 91);
          border-color: #fff;
       }
       .logo-container {
          background-color: rgb(11, 27, 91);
          color: #FFF;
       }

       .btn-secondary {
          background-color: rgb(11, 27, 91);
       }
       .dropdown-item.active {
          background-color: #007bff;
          color: #fff;
       }
       .fa-solid {
          margin-right: 20px;
          margin-left: 20px;
       }
       .custom-select-width{
          width: 150px;
       }

    </style>

    <div id="app"></div>
    <script>
      
      new Vue({
        
        el: "#app",
        template:`
        
        <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class="col-md-8">
          <div class="card shadow">
            <div class="card-header bg-primary2 text-white">
              <h5 class="font-weight-bold mb-0">CONSULTA</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="chassi" class="font-weight-bold">Chassi:</label>
                <div class="input-group">
                  <select v-model="idChassi" class="form-select form-select-sm custom-select-width">
                    <option v-for="option in chassiOptions" :value="option.idChassi" :key="option.idChassi">{{ option.idChassi }}</option>
                  </select>
                  <div class="input-group-append">
                    <button @click="search" class="btn btn-primary " type="button" style="margin-left: 5px;">Search</button>
                  </div>
                </div>
              </div>
                <div class="d-flex justify-content-between" style="margin-top: 8px;">
                    <div class="w-50">
                        <select class="form-select form-select-sm custom-select-width" aria-label=".form-select-lg example" @change="onSelectChange">
                            <option selected>Category</option>
                            <option v-for="(cat, index) in category" :value="index" :key="index">{{ cat }}</option>
                        </select>
                    </div>
                    <div class="w-50 d-flex justify-content-end">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="switch-yes" v-model="checkedYes">
                            <label class="form-check-label" for="switch-yes">✔</label>
                        </div>
                        <div class="form-check form-switch ms-3">
                            <input class="form-check-input" type="checkbox" id="switch-no" v-model="checkedNo">
                            <label class="form-check-label" for="switch-no">❌</label>
                        </div>
                    </div>
                </div>

              <div class="table-responsive">
                <table class="table table-bordered table-striped mt-4">
                  <thead id="table-1" class="bg-primary2 text-white">
                    <tr>
                      <th class="text-center">Item</th>
                      <th class="text-center">Installed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(nome,index) in nomes" :key="nomes.idItem" v-if="(checkedYes && nome.status === '✔') || (checkedNo && nome.status === '❌') || (!checkedYes && !checkedNo)">
                      <td class="text-center">{{ nomes[index].nome }}</td>
                      <td class="text-center">{{ nomes[index].status }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        `,
        
        data: {
          
          items: [
            { id: 1, name: "Item 1"  , yes: "Yes", no: "No" },
            { id: 2, name: "Item 2", yes: "Yes", no: "No" },
            { id: 3, name: "Item 3", yes: "Yes", no: "No" },
          ],
          nomes:[],
          category:[],
          idChassi: null,
          checkedYes: false,
          checkedNo: false,
          idChassi: '',
          chassiOptions: []
        },
        mounted() {
          axios.get('http://localhost:8080/chassis')
            .then(response => {
              this.chassiOptions = response.data;
            })
            .catch(error => {
              console.log(error);
            });
        },
        methods: {
          search() {
            axios
              .get('http://localhost:8080/logica?idChassi=' + this.idChassi)
              .then(response => {
                this.nomes = response.data;
                console.log(response.data)
              })
              .catch(error => {
                console.error(error);
              });

              axios
              .get('http://localhost:8080/category')
              .then(response => {
                this.category = response.data;
                console.log(response.data)
              })
              .catch(error => {
                console.error(error);
              });
          },

          downloadPdf() {
            const element = document.getElementById("pdf"); // seleciona o elemento a ser convertido
            const opt = {
              margin:       1,
              filename:     'test.pdf',
              image:        { type: 'jpeg', quality: 1 },
              html2canvas:  { scale: 2 },
              jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            html2pdf().from(element).set(opt).save();
          },
          onSelectChange(event) {
            this.nomes = [];
                // Método que será chamado quando uma opção for selecionada
            const selectedIndex = parseInt(event.target.value); // Converte o valor para inteiro
            console.log(selectedIndex)
            let selectedText = this.category[selectedIndex]; // Obtém o texto do item selecionado
            // Faça o que desejar com o texto selecionado, por exemplo:
            console.log("Texto selecionado:", selectedText);  

            if(selectedText===undefined){
              selectedText = "all"
            }

            
            axios
              .get('http://localhost:8080/logicaByCategory?idChassi=' + this.idChassi +'&category='+selectedText)
              .then(response => {
                this.nomes = response.data;
                console.log(response.data)
              })
              .catch(error => {
                console.error(error);
              });
          }
        }
      });
    </script>
</body>
</html>
